#intro {
	background: rgba(0,0,0,.7);
	padding: 0;
	border: 0;
}

#intro img {
	width: 300px;
	height: 300px;
	margin: auto 10%;
}

#intro .attribution {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 150%;
	line-height: .8;
	color: #F0DB4F;
	text-shadow: none;
	bottom: 3em;
	background: transparent;
	overflow: hidden;
}

#pytania > h1 {
	font-size: 230px;
	text-align: center;
}

#koniec > h1 {
	margin: 100px 0;
	font-size: 130px;
	text-align: center;
}

#css-controls-demo label {
	display: block;
}